@import 'colors';

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

input, button {
  width: 100%;
  display: block;
  border: solid 2px black;
  padding: 10px 0;
  text-align: center;
  font-size: 1.5em;
  background-color: white;
  margin: 0.5em 0;
  border-radius: 2em;
  &:focus {
    border-color: #2ECC71;
    outline: 0;
  }
}

.submit, #clear {
  display: inline-block;
}
